/* VERSION 9 */

/* BASIC HTML TAGS =================================================================================================================== */

html, body { margin: 0; padding: 0; /* Style resets */ scrollbar-color: var(--gs-mid) var(--gs-darkest); scrollbar-width: thin; /* Scroll Bar, Works on Firefox */ } /* scoped reset rules replacing universal selector */
html::-webkit-scrollbar { width: 5px; } /* Works on Chrome, Edge, and Safari */ /* scoped scroll bar from universal selector */
html::-webkit-scrollbar-track { background: var(--gs-darkest); } /* Works on Chrome, Edge, and Safari */ /* scoped scroll bar track from universal selector */
html::-webkit-scrollbar-thumb { background-color: var(--gs-mid); border: var(--borders-bright); border-radius: var(--box-corners); } /* Works on Chrome, Edge, and Safari */ /* scoped scroll bar thumb from universal selector */

html { line-height: 1.15; width: 100vw;	-webkit-text-size-adjust: 100%; /* Normalizing */}

/* Sectioning */
body {height: 100vh; width: 100vw; overflow-x: hidden;	scroll-snap-type: y mandatory; font-size: 16px; font-weight: 400; font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; /* backdrop-filter: blur(10px) brightness(50%); /* Decoration */}
header, main, footer { width: 100%;	display: flex !important; 	justify-content: space-evenly; align-items: center; text-align: center;}
header, footer { flex-direction: row;	background: var(--gradient-l2r);}
header{ position: sticky; position: -webkit-sticky;	left: 0; top: 0; padding-top: 10px; z-index: 100; border-bottom: var(--borders-bright);}
footer { position: relative; bottom: 0; padding-bottom: 10px;	border-top: var(--borders-bright);}
main { margin-bottom: 100px; background-color: transparent;}
aside {background-color: var(--color-dominant); top: 0;	bottom: 0; left: 0; color: var(--gs-lightest); text-align: left; position: fixed; border-right: 1px solid var(--gs-lightest); overflow-x: hidden;}
blockquote { width: 80%; padding: 1.5em 0 1.5em 0; line-height: 1.75; font-size: 16px; font-weight: 500; text-align: center; color: var(--gs-darkest)}
pre { font-family: monospace, monospace; /* Correct inheritance & scaling of font size in all browsers. */ font-size: 1em; /* Correct the odd `em` font sizing in all browsers. */}
.offer {margin: 2vh 0 3vh 0 ;}
.card, .cardWhite {height: auto; margin: 5px 5px 4vh 5px; border-radius: var(--box-corners); border: var(--borders-dominant); box-shadow: var(--box-glow-dominant);}
.card {background: var(--transparent-b);} .cardWhite {background: var(--transparent-w);}
details {display: block;} /* Add correct display in Edge, IE 10+, & Firefox. */
summary {display: list-item;} /* Add correct display in all browsers. */

/* Headings & Paragraphs */
p, h1, h2, h3, h4, h5, h6 {color: var(--gs-lightest); font-family: 'Playfair Display', serif;	font-weight: 500; letter-spacing: 1px !important; line-height: 1.25; text-decoration: none; text-shadow: 1px 1px 0px #000;	text-transform: capitialize; -webkit-font-smoothing: antialiased;}
p {display: inline-block; width: 100%; text-align: left; color: var(--gs-darkest); font-size: 20px; font-style: normal; font-weight: 400 !important;	font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif; letter-spacing: -0.003em; line-height: 32px; margin: 0 0 -0.46em 0; padding: 5px; word-wrap: break-word; margin-block-start: 1em; margin-block-end: 1em; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens:none; hyphens: none; white-space: -moz-pre-wrap; /* Mozilla */	white-space: -hp-pre-wrap; /* HP printers */	white-space: -o-pre-wrap; /* Opera 7 */	white-space: -pre-wrap; /* Opera 4-6 */ white-space: pre-wrap; /* CSS 2.1 */	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ word-break: break-word; overflow-wrap: break-word; word-wrap: keep-all; /* IE */ text-rendering: optimizeLegibility;	text-shadow: none; -moz-osx-font-smoothing: antialiased; /* Firefox */}
.itemText {text-align: center; margin: 0px 10px 0px 10px;	overflow-wrap: break-word; color: var(--gs-lightest);}
.splashText {width: 60%; 	font-size: 25px !important; font-weight: bold; text-align: center;}
.explainer {margin: 1vh 0 5vh 0; padding: 1vh 0 0vh 0; width: 84%;	font-size: 22px !important; line-height: 1.5;}
h1, h2 {margin: 0vh 0 2vh 0; /* Needs listing to normalize */ font-size: 38px; /* Needs listing to normalize */ color: var(--color-two); font-weight: bold !important; text-shadow: 1px 1px 1px #000; text-transform: capitialize !important;}
h2 {margin: 4vh 15px 2vh 15px !important;} /* Needs listing to normalize */
h3 {margin: 4vh 0 0 0; font-size: 20px; font-weight: 700;	text-transform: uppercase !important; text-decoration: none;}
h4 {border-bottom: 1px solid var(--color-bright);	font-weight: 300;	color: var(--color-bright) !important; text-align: left;}

/* Lists */
ul { display: flex; flex-direction: row; flex-wrap: wrap;	justify-content: space-evenly; align-items: center; width: 100%; list-style-type: none; /* Decoration */}
.offerlist {list-style: disc outside none;}
li, ol {color: var(--gs-lightest); font-family: 'Playfair Display', serif; font-weight: bold; letter-spacing: 2px !important; text-align: -webkit-match-parent;	margin-bottom: 5px;}

/* Media */
img {width: auto; border-style: none;} /* Remove border on images inside links in IE 10. */
.cardImage{width:100% !important; border-radius: 25px 25px 0px 0px; box-shadow: var(--box-glow); }

/* Forms *//* --> form, fieldset, legend, go here <-- */ 
button, input, optgroup, select, textarea, .stripe-button-el {font-family: inherit; font-size: 100%; line-height: 1.15; /* Change the font styles in all browsers. */}
button, input {overflow: visible;} /* Show overflow in IE & Edge. */
button, select {text-transform: none;} /* Remove inheritance of text transform in Edge, Firefox, & IE. */
button, [type="button"], [type="reset"], [type="submit"] {-webkit-appearance: button;} /* Style clickable types in iOS & Safari. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border-style: none; /* Remove inner border & padding in Firefox. */}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {outline: 1px dotted ButtonText; /* Restore the focus styles unset by the previous rule. */}
button, .stripe-button-el {display: inline-flex; justify-content: center; align-items: center; -webkit-box-align: center; margin: 25px; padding: 0.75rem 1.5rem; vertical-align: middle; transition-duration: 300ms; transition-property: box-shadow; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); background-color: var(--gs-darkest); border: var(--borders-bright); border-radius: var(--box-corners);	box-shadow: var(--box-glow); cursor: pointer; white-space: nowrap; color: var(--color-bright); text-decoration: none; text-transform: uppercase !important;}
button:hover, .stripe-button-el:hover {transition-duration: 300ms; transition-property: box-shadow; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); box-shadow: var(--box-glowier);}
.item-button {color: var(--warn); border: none; box-shadow: none;}
fieldset {padding: 0.35em 0.75em 0.625em;} /* Correct the padding in Firefox. */ 

input {height: 37px; width: 75%; max-width: 370px; padding: 0; background: var(--gs-lightest); border: 1px solid var(--gs-lightest);	color: var(--gs-darkest);	text-align: center;}
input:hover, input:focus {-webkit-transition: all 0.5s 0s ease; -moz-transition: all 0.5s 0s ease; -o-transition: all 0.5s 0s ease; transition: all 0.5s 0s ease;}
input[type="text"] {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; text-shadow: none;}

.item-form {display: inline-block;}

label {margin: 10px; padding: 10px; width: 100%; color: var(--gs-lightest); text-transform: uppercase;	line-height: 1; text-align: center;}
legend { box-sizing: border-box; display: table; max-width: 100%; white-space: normal; /* Correct the text wrapping in Edge and IE. */ color: inherit; /* Correct the color inheritance from `fieldset` elements in IE. */}
progress {vertical-align: baseline;} /* Add correct vertical alignment in Chrome, Firefox, & Opera. */
textarea {overflow: auto; /* Remove default vertical scrollbar in IE 10+. */background-color: transparent; border: 1px solid var(--gs-lightest); color: var(--gs-mid);}
textarea:focus {border: none; -webkit-transition: all 0.5s 0s ease; -moz-transition: all 0.5s 0s ease; -o-transition: all 0.5s 0s ease; transition: all 0.5s 0s ease;}
[type="checkbox"], [type="radio"] {box-sizing: border-box;} /* Add correct box sizing in IE 10. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;} /* Correct the cursor style of increment & decrement buttons in Chrome. */
[type="search"] {-webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari. */ outline-offset: -2px; /* Correct the outline style in Safari. */}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;} /* Remove inner padding in Chrome & Safari on macOS. */
::-webkit-file-upload-button {-webkit-appearance: button; /* Correct inability to style clickable types in iOS & Safari. */ font: inherit; /* Change font properties to `inherit` in Safari. */}

/* Phrasing */
a {background-color: transparent;/* Remove the gray background on active links in IE 10. */ color: var(--link); text-decoration: underline; text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;}
a:hover{color: var(--color-bright);}
a:visited {color: var(--link-visited);}

/* --> TEXT LEVEL SEMANTICS: em goes here <-- */ /* --> TEXT LEVEL SEMANTICS: u, s, sup, sub, dfn, mark, del, ins, q, cite, data, progress, time, meter, var, keygen, bdi, bdo, ruby, rt, rp, span, br, wbr, each go here <-- */
b, strong {font-weight: bolder;} /* Add correct font weight in Chrome, Edge, and Safari. */
i {display: inline-block; margin: 0 0 35px 3vw;	color: var(--gs-lightest); font-size: calc(50px + 4vw);}
abbr[title] {border-bottom: none; /* Decoration */ /* Remove bottom border in Chrome 57- */text-decoration: underline; /* Typography */ /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */text-decoration: underline dotted; /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */}
code, kbd, samp { font-family: monospace, monospace; /* Correct  inheritance & scaling of font size in all browsers. */font-size: 1em; /* Correct odd `em` font sizing in all browsers. */}
small {color: var(--gs-lightest); 	font-size: 80%;} /* Add correct font size in all browsers. */
sub, sup { /* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sub {bottom: -0.25em;} sup {top: -0.5em;}

/* Misc */
hr {box-sizing: content-box; /* Add correct box sizing in Firefox. */	height: 1px; /* Needs listing to normalize */ width: 55%; margin: calc(5px + 0.25vh) auto calc(5px + 0.25vh); overflow: visible; /* Show overflow in Edge and IE. */ background-color: rgba(255,255,255,0.13); border: 0pt none; box-shadow: 1px -1px 1px  rgb(0, 0, 0, 30%); color: rgba(255,255,255,0.13);}
.quoteHr {background-color: var(--color-dominant); box-shadow: -1px 1px 1px  var(--gs-darkest);}

[hidden], template {display: none;} /* Add correct display in IE 10+. */


/* OTHER CLASSES & IDS ========================================================================================================= */

.noDecorate {text-decoration:none; text-shadow: none;}

.obscure {backdrop-filter: blur(7px) brightness(200%);}

/* Color classes */
.textLight {color: var(--gs-lightest);} .textDark {color: var(--gs-darkest);}

.bright {background-color: var(--color-bright) !important; /* fixes var syntax & keeps !important */}
.darkest {background-color: var(--gs-darkest);}
.dark {background-color: var(--gs-dark);}
.lightest {background-color: var(--gs-lightest);}
.green {background-color: var(--bg-btn);}

.icon {filter: var(--set-adjustments);}
.iconLarge {width: 150px; height: 150px;} /* //added iconLarge style for 150px icons */

.CTA {position: relative;	width: 12rem;	height: 5rem;	display: flex;	justify-content: center;
	align-items: center;	background: rgba(0, 0, 0, 0.5);	overflow: hidden;	border-radius: 1.3em;
	transition: box-shadow 0.8s; cursor: pointer;
}
.CTA > h2 > a {position: relative; color: #fff; font-size: 2em; z-index: 1; text-shadow: 0 0 5px;}
.CTA:hover {box-shadow: 0 0 10px var(--bg-btn), 0 0 30px var(--bg-btn),	0 0 60px var(--bg-btn), 0 0 100px var(--bg-btn);}
.CTA::before {content: "";	position: absolute;	width: 75px;	height: 308px;	
	background: linear-gradient(var(--glow), var(--glowier));	animation: animate 3s linear infinite; animation-play-state: paused; /*(paused until hover to save work)*/
}
.CTA::after {content: "";	position: absolute;	background: var(--bg-body);	inset: 0.3em;
	border-radius: 1.15em; transition: background 0.5s ease-out;
}
.CTA:hover::before {animation-play-state: running;} /*(start animation on hover)*/
@media (prefers-reduced-motion: reduce){
        .CTA::before{animation:none;}/* //stop animation for reduced motion */
}

/* Spacer Classes */
.margin5 {margin:5px !important;} .margin10 {margin:10px !important;} .margin15 {margin:15px !important;} .margin25{margin:25px !important} .margin30 {margin:30px !important;}
.pad5 {padding:5px !important;} .pad10 {padding:10px !important;} .pad15 {padding:15px !important;}
.hid, .hid2, .hid3, .hid4, .hid6, .hid18, .hid23 {
	background-color: none; /* Decoration */
	visibility: hidden;
	box-shadow: none !important;
}
.hid {height: 0.5vh;} 
.hid2 {height: 1vh; margin: calc(5px + 0.25vh * 2) auto calc(5px + 0.25vh * 2);} 
.hid3 {height: 1.5vh; margin: calc(5px + 0.25vh * 3) auto calc(5px + 0.25vh * 3);} 
.hid4 {height: 2vh; margin: calc(5px + 0.25vh * 4) auto calc(5px + 0.25vh * 4);} 
.hid6 {height: 3vh; margin: calc(5px + 0.25vh * 6) auto calc(5px + 0.25vh * 6);} 
.hid18 {height: 9vh; margin: calc(5px + 0.25vh * 18) auto calc(5px + 0.25vh * 18);} 
.hid23 {height: 11.5vh; margin: calc(5px + 0.25vh * 23) auto calc(5px + 0.25vh * 23);}

.textLeft {text-align: left !important;} .textCenter {text-align: center !important;}

/* SIZE CLASSES */
.wide20 {width: 20%;} .wide25 {width: 25%;} .wide33 {width: 33%;} .wide40 {width: 40%;} .wide50 {width: 50%;}
.wide60 {width: 60%;} .wide66 {width: 66%;} .wide70 {width: 70%;} .wide75 {width: 75%;} .wide80 {width: 80%;}
.wide90 {width: 90%;} .wide100 {width: 100%;}
/* Square Sizes */
.sq50{height:50px; width: 50px;} .sq75{height:75px; width: 75px;} .sq250{height:250px; width: 250px;}

/* Flexbox Classes */
.row, .col, .mobileRow, .reverseRow {display:flex;}
.row {flex-direction: row !important;} .col {flex-direction: column !important;}
.mobileRow {flex-direction: row !important;} .reverseRow {flex-direction: row-reverse !important;}

.around {justify-content: space-around !important;} .between {justify-content: space-between !important;}
.center {justify-content: center !important;} .evenly {justify-content: space-evenly !important;}
.start {justify-content: flex-start !important;} .end {justify-content: flex-end !important;}

.centerAlign {align-items: center !important;} .top {align-items: top !important;}
.flexStart {align-items: flex-start !important} .flexEnd {align-items: flex-end !important}

.centerAlignSelf {align-self: center !important;}

/* Grid classes */
.grid2, .grid3, .grid4, .grid5, .grid6, .gridx, .gridx2 {display: grid;}
.grid2, .gridx2 {grid-template-columns: 1fr 1fr;}
.grid3 {grid-template-columns: 1fr 1fr 1fr;}
.grid4 {grid-template-columns: 1fr 1fr 1fr 1fr;}
.grid5 {grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
.grid6 {grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;}
.gridx {grid-template-columns: repeat(auto-fit, minmax(230px, 5%));
	grid-gap: 10px 1px;	width: 100%; justify-content: space-evenly;
}
.gridItem {grid-column-start: auto; grid-column-end: auto; grid-row-start: auto; grid-row-end: auto;
	place-self: center;	box-sizing: border-box;
}

/* Responsive Classes & Ids */
#threeCols {display: flex !important; flex-direction: row !important; justify-content: space-around !important;}
.footerDesktop, .desktop {display: visible !important;}
.footerMobile, .mobile, .hidden, .smallShow, .ue-sidebar-container {display: none !important;} /* Hides the sidebar that is imported */
.smallHide {display: block;}
.smallHideFlex {display: flex !important;}

.wide25toWide90{width:25%} .wide50toWide90 {width: 50%;} .wide60toWide90 {width: 60%;}

.menuBox {position: relative;}
.menu {margin: 5px 30px 5px 5px; background-color: var(--gs-darkest); border: var(--borders-dominant); border-radius: 0; box-shadow: var(--box-glow-dominant);}
#menu-drop {display: none; min-width: 160px; position: absolute; right: 7px; z-index: 5; background-color: var(--gs-darkest); border: var(--borders-dominant);	box-shadow: var(--box-glow-dominant);}
.menuBox:hover #menu-drop {display: block !important;}


/* ANIMATIONS ================================================================================================================= */

@keyframes animate {
	to {transform: rotate(350deg);}
}

/* MEDIA QUERIES =============================================================================================================== */

@media print {.noPrint, .noPrint * {display: none !important;}}

@media screen and (max-width: 1250px) {.showRow {flex-direction: column;}}

/* screen width 994 and > is reg nav, less is hamburger */
@media screen and (max-width: 994px) {
	header {justify-content: right; display: -webkit-box; -webkit-box-pack: end; /* justify-content */-webkit-box-align: end; /* align-items */}
	#centralText, .wide25toWide90, .wide50toWide90, .wide60toWide90 {width:90%;}
	.desktop {display: none !important;}
	.mobile {display: block !important;}
	.grid {grid-template-columns: 1fr;}
}

/* screen width 768 and > is reg layout, less is all column */
@media screen and (max-width: 768px) {
	.column, .sinister {width: 100%;}
	.wide25toWide90, .wide50toWide90, .wide60toWide90 {width:90%;}
	.gridx2 {grid-template-columns: repeat(auto-fit, minmax(230px, 5%)); grid-gap: 10px 1px;	width: 100%; justify-content: space-evenly;}
	#centralText {width: 90%;}
	#threeCols {display: flex !important; flex-direction: column !important; justify-content: space-around !important; align-items: center !important;width: 100%;}
	.row {flex-direction: column !important;}
	.footerDesktop {display: none !important;}
	.footerMobile {display: block !important;}
	.top {align-items: center !important;}
	.smallHide, .smallHideFlex {display: none; !important;}
	.smallShow {display: block;}
} 
